html 
html 
    head 
        title Hello 
    body 
        div(style='margin-left: 35%')     
            h1 Todolist Application 
            br
        div(style='margin-left: 35%') 
            a(href="http://localhost:8080/login") Log in
            br
            a(href="http://localhost:8080/signup") Sign Up
            br
        div(style='margin-left: 35%') 
            br
            a(href="") About us