html 
html 
    head 
        title Login 
        style
            include ../public/style.css
    body 
        //- Error message
        div.errmessage
            h4(style={color:'red'}) #{message}
        //- Log in form
        div(style='margin-left: 35%')
            form(action="/login", method = "POST") 
                lable(for="username") User Name:
                input(type="text", name="username")
                br
                lable(for="password") Password:
                input(type="password", name="password")
                br
                button(type="submit") Log in
                br
            //- Sign up button
            a(href="http://localhost:8080/signup") Sign Up