html 
html 
    head 
        title Sign Up
        style 
            include ../public/style.css
    body 
        //- Error message
        div 
            h4(style='color:red') #{message}
        //- Register form
        div 
            form(action="/signup", method = "POST") 
                lable(for="email") Email:
                input(type="email", name="email")
                br
                lable(for="username") User Name:
                input(type="text", name="username")
                br
                lable(for="password") Password:
                input(type="password", name="password")
                br
                lable(for="passwordConfirm") Confirm Password:
                input(type="password", name="passwordConfirm")
                br
                input(type="submit", value="Sign up")
            br
            //- Log in button
            a(href="http://localhost:8080/login") Log in